/**
*
* Layout
*
**/

.body {
  background: #888;
  height: 100%;
}

.stream {
  display: flex;
  flex-wrap: wrap;
}

.stream__article {
  flex: 1;
}

.stream__article--indent--left {
  margin: $baseSpace*2 $baseSpace*4;
}

.stream__article--no--indent {
  margin: $baseSpace*2 $baseSpace*4;
}

.switcher {
	display: none;
}